* {
  box-sizing: border-box;
}

body { 
  font-family: 'Bebas Neue';
  padding: 0;
  margin: 0; /* Ensure no margin */
  background: url('../assets/images/nebulaPic.jpg') no-repeat center center fixed;
  background-size: cover; /* Ensures the image covers the whole page */
  color: white;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Column layout */
}


/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: #28292A;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  margin-bottom: auto;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #28292A;
  font-size: 30px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}
.middle {
  background-color: #28292A; /* Black background */
  padding: 5%; /* Padding inside the division */
  border-radius: 10px; /* Optional: rounded corners for a nicer look */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 50%; /* Set a max width for the middle section */
  margin: 100px auto; /* Center horizontally */
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Centering and stacking the social media icons */
.socials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Adjust height as needed */
  gap: 20px; /* Adjust space between icons */
  
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*Responsive image*/
.responsive_img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
.responsive_img_2 {
  width: 100%;
  max-width: 300px;
  height: auto;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #28292A;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  margin-top: auto; /* Push footer to the bottom */
}
.table {
  text-align: left;
  width: 50%;
  overflow-x: auto;
  font-size: 25px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .responsive_img_2 {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .table {
    text-align: left;
    width: 100%;
    overflow-x: auto;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  .responsive_img_2 {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  .table {
    text-align: left;
    width: 100%;
    overflow-x: auto;
  }
}
